* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #302c42;
  --dark: #ffffff80;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #302c42;
  color: #f0f0f0;
}

button {
  border: none;
}

button:hover {
  opacity: 0.7;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  object-fit: cover;
}

.container {
  width: 88% !important;
  margin: 0 auto;
}

header {
  background: rgb(48, 44, 66, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.search-input {
  width: 100%;
  height: 100%;
  padding: 8px 19px 8px 36px;
  margin: auto;

  position: relative;
  color: #f0f0f0;
  background: var(--primary);
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 30px;
}

.search-input::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: linear-gradient(to right, #73e0a9, #5b68df);
}

.search-input i {
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translateY(-50%);
  background-image: linear-gradient(45deg, #73e0a9 0%, #5b68df 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.search-input input {
  background: var(--primary);
  outline: none;
}

.header-menu ul li {
  margin: 0 20px;
}

header button {
  width: 150px;
  padding: 7px 15px;
  margin: 0 20px;
}

.login-btn {
  position: relative;
  margin-left: 40px;
  border: 5px;
  background: #ca6eff;
  border: 1px solid transparent;
  border-radius: 30px;
  text-align: center;
}

.shop-btn {
  margin-left: 20px;
  background-image: linear-gradient(to right, #6ddcff, #7f60f9);
  border-radius: 30px;
}

.banner-content > div > h1 {
  background: linear-gradient(to right, #ffb5b5 0%, #b0ffde 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.store-btn {
  width: 200px;
  margin-top: 50px;
  padding: 10px 15px;
  background-image: linear-gradient(to right, #8176af, #c0b7e8);
  color: #343045;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
}

.banner-info {
  background: rgba(0, 0, 0, 0.4);
}

.banner-info > div {
  width: 33.33%;
  padding: 20px 40px;
  align-items: center;
}

.banner-info > div img {
  width: 50px;
  margin-right: 30px;
}

.banner-info > div > div > p:first-child {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: bold;
}

.banner-info > div > div > p:last-child {
  font-size: 13px;
  font-weight: 400;
}

.features-list > div > div {
  height: 120px;
  padding: 20px;
  background: rgb(255, 255, 255, 0.4);
  border-radius: 15px;
}

.features-list > div > div > p:first-child {
  color: #000;
  font-weight: bold;
  font-size: 20px;
}

.features-list > div > div > p:last-child {
  color: #5f5f63;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.pick {
  position: relative;
}

.pick::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, purple, green);
  z-index: -1;
  filter: blur(20px);
}

.call-btn {
  width: 45%;
  height: 70px;
  padding: 15px 25px;
  background-image: linear-gradient(to right, #73e0a9, #5b68df);
  border-radius: 30px;
  font-weight: bold;
  font-size: 20px;
}

.pick-btn {
  display: inline-block;
  width: 45%;
  height: 70px;
  padding: 10px 30px;
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(to right, #73e0a9, #5b68df) border-box;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 40px;
  font-weight: bold;
  font-size: 20px;
}

.pick:before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #ce4da4 0%, #8a79ff 100%);
  transform: translate3d(0px, 7px, 0) scale(0.99);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

.pick::after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.buy-btn {
  width: 55%;
  height: 70px;
  padding: 10px 30px;
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(to right, #7353e5, #ce4da4, #ce4da4) border-box;
  color: #fff;
  border: 3px solid transparent;
  border-radius: 40px;
  font-weight: bold;
  font-size: 20px;
}

.start-list > div > div:first-child {
  padding: 30px;
  background: #1d1a27;
}

.start-list > div > div:first-child > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
  background: #5e5b71;
  font-size: 26px;
  font-weight: bold;
  border-radius: 13px;
}

.start-list > div:first-child > div:last-child {
  background: url(/assets/images/start1-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.start-list > div:nth-child(2) > div:last-child {
  background: url(/assets/images/start2-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.start-list > div:last-child > div:last-child {
  background: url(/assets/images/start3-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.tech {
  position: relative;
  max-height: 400px;
  overflow: hidden;
  border-radius: 150px;
}

canvas {
  display: block;
  transform: scale(1.5);
}

#canvas_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.tech-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(48, 44, 66, 0.6);
  font-size: 28px;
}

.power-list > div {
  position: relative;
  width: 60%;
  padding: 15px 30px;
  margin: 0 auto;
  background-image: linear-gradient(to right, #06b7e5, #665afc);
  border-radius: 8px;
}

.power-list > div > img {
  position: absolute;
  left: -8%;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
}

.answers-list input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab {
  width: 100%;
  margin: 20px 0;
  color: white;
  border-radius: 15px;
  overflow: hidden;
}

.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background-image: linear-gradient(to right, #8176af, #c0b7e8);
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}
.tab-label:hover {
  /* background: #333; */
  opacity: 0.5;
}
.tab-label::after {
  content: '\276F';
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  background: #494655;
  line-height: 25px;
  transition: all 0.35s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  cursor: pointer;
}
.tab-close:hover {
}
input:checked + .tab-label {
}

input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

.question > p {
  background: linear-gradient(to right, #ffb5b5 0%, #d2ffa5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-weight: bold;
}

.footer-top > div {
  padding: 0 20px;
}

.footer-top > div:first-child,
.footer-top > div:nth-child(2),
.footer-top > div:nth-child(3) {
  border-right: 6px solid transparent;
  border-image: linear-gradient(#343045, #c0b7e8, #8176af, #343045);
  border-image-slice: 1;
}

.footer-top > div ul li {
  margin-bottom: 10px;
}

.follow {
  background: linear-gradient(to right, #73e0a9 0%, #5b68df 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.socials {
  background: linear-gradient(to right, #8176af 0%, #c0b7e8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.socials li i {
  font-size: 22px;
}

.hiddenLeft,
.hiddenRight {
  opacity: 0;
  transition: all 1s;
}

.showLeft,
.showRight {
  opacity: 1;
}

.fadeInLeft {
  animation: fadeInLeft 2s;
  animation-direction: alternate;
}

.fadeInRight {
  animation: fadeInRight 2s;
  animation-direction: alternate;
}

@keyframes fadeInLeft {
  0% {
    transform: translate3d(-50%, 0, 0);
    /* opacity: 0; */
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    /* opacity: 0; */
    transform: translate3d(50%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
