@media (min-width: 1024px) and (max-width: 1279px) {
  header > div > div:first-child {
    justify-content: space-between;
    width: 100%;
  }
  .header-menu ul li {
    margin: 0 15px;
    white-space: nowrap;
  }
  header button {
    width: 130px;
  }
  .login-btn {
    margin-left: 25px;
  }
  .shop-btn {
    margin-left: 10px;
  }
  .banner {
    margin-top: 50px;
  }
  .banner-title {
    font-size: 70px !important;
  }
  .banner-sub {
    padding-left: 10% !important;
    font-size: 70px !important;
  }
  .banner-desc {
    width: 90% !important;
    padding-left: 10% !important;
    margin-top: 140px !important;
    text-align: justify;
  }
  .banner-img {
    top: -5%;
    right: -5%;
    width: 38%;
  }
  .banner-info {
    margin-bottom: 80px !important;
  }
  .banner-info > img {
    width: 20%;
  }
  .banner-list {
    width: 75%;
  }
  .banner-content {
    padding: 10px;
  }
  .banner-content > div {
    padding: 20px 0;
  }
  .pick {
    width: 100% !important;
    padding: 0px !important;
    margin: 0 auto 80px auto !important;
  }
  .pick > div {
    width: 100%;
    flex-direction: column;
    padding: 30px 0 30px 30px !important;
  }
  .pick > div button {
    width: 40%;
    height: 40px;
    padding: 0;
    font-size: 15px;
  }
  .pick-img {
    margin-bottom: auto;
    object-fit: contain;
  }
  .start-list div div {
    width: 70%;
    padding: 20px !important;
  }
  .start-img {
    width: 30%;
    margin-bottom: auto;
  }
  .power-heading {
    padding-top: 120px !important;
  }
  .question > p {
    margin-bottom: 20px !important;
  }
  .footer-top > div:first-child {
    padding-right: 20px;
  }
  .socials {
    justify-content: start;
    margin-top: 10px;
  }
  .socials li {
    margin-right: 10px;
  }
  .follow {
    width: 24% !important;
  }
  .slide-item h3 {
    font-size: 30px;
  }
  .slide-item p {
    font-size: 18px;
  }
  .slide > p:last-child {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .slider,
  .slider3 {
    width: 100%;
    margin: 0 auto;
  }
  .blue-bg {
    top: 5% !important;
    height: 36%;
  }
  .pink-bg {
    bottom: 5% !important;
    height: 120%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 84% !important;
  }
  header > div > div:first-child {
    justify-content: space-between;
    width: 100%;
  }
  .logo {
    width: 50px !important;
    margin-right: 0 !important;
  }
  .header-menu {
    width: 100%;
  }
  .header-menu ul li {
    margin: 0 10px;
    white-space: nowrap;
  }
  header button {
    width: 120px;
    font-size: 14px;
  }
  .login-btn {
    margin-left: 25px;
  }
  .shop-btn {
    margin-left: 10px;
  }
  .banner {
    margin-top: 50px;
  }
  .banner-title {
    font-size: 70px !important;
  }
  .banner__title--img {
    width: 65px !important;
    height: 65px !important;
  }
  .banner-sub {
    padding-left: 10% !important;
    font-size: 70px !important;
  }
  .banner-desc {
    width: 90% !important;
    padding-left: 10% !important;
    margin-top: 100px !important;
    text-align: justify;
  }

  .banner-img {
    top: -5%;
    right: -5%;
    width: 40%;
  }
  .banner-info {
    margin-bottom: 80px !important;
  }
  .banner-info > img {
    display: none;
  }
  .banner-list {
    width: 100%;
  }
  .banner-content {
    padding: 10px;
  }
  .banner-content > div {
    padding: 20px 0;
  }
  .banner__info--title {
    font-size: 16px;
  }
  .banner__info--desc {
    font-size: 14px;
  }
  .intro {
    margin-bottom: 80px !important;
  }
  .intro-content {
    flex-direction: column;
  }
  .intro-content > div:first-child {
    width: 100%;
  }
  .intro-content > div:last-child {
    width: 100%;
  }
  .features {
    margin-bottom: 80px !important;
  }
  .features-list {
    width: 100% !important;
  }
  .features-list > div {
    margin-bottom: 20px;
  }
  .why {
    margin-bottom: 80px !important;
  }
  .why > div {
    flex-direction: column;
  }
  .why > div > div:first-child {
    width: 100%;
  }
  .why-sub {
    margin-bottom: 20px;
  }
  .why > div > div:last-child {
    width: 100%;
  }
  .products {
    margin-bottom: 80px !important;
  }
  .pick {
    width: 100% !important;
    padding: 0px !important;
    margin: 0 auto 80px auto !important;
  }
  .pick > div {
    width: 100%;
    flex-direction: column;
    padding: 30px 0 30px 30px !important;
  }
  .pick-title {
    width: 100%;
    margin-bottom: 5px;
    font-size: 24px;
  }
  .pick-sub {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .pick > div button {
    width: 70%;
    height: 40px;
    padding: 0;
    font-size: 15px;
  }
  .call-btn {
    margin-right: 0;
  }
  .pick > div button:first-child {
    margin-bottom: 20px;
  }
  .pick-img {
    margin-bottom: auto;
    object-fit: contain;
  }
  .start {
    flex-direction: column;
    padding: 0 !important;
  }
  .start > div:first-child {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
  .start-list {
    width: 100% !important;
  }
  .power-heading {
    padding-top: 120px !important;
  }
  .question {
    padding: 8% !important;
    margin-bottom: 50px !important;
  }
  .question > p {
    margin-bottom: 20px !important;
    /* font-size: 26px; */
  }
  .footer-top {
    flex-direction: column;
    margin-bottom: 0 !important;
  }
  .footer-top > div {
    padding-right: 0 !important;
    border-right: none !important;
  }
  .footer-top > div:first-child {
    display: flex;
  }
  .footer-top > div:first-child,
  .footer-top > div:nth-child(2),
  .footer-top > div:nth-child(3) {
    width: 100%;
    margin-bottom: 25px;
  }
  .footer-logo {
    width: 120px;
  }
  .footer-text {
    margin-left: 50px;
  }
  .socials {
    justify-content: start;
    margin-top: 10px;
  }
  .socials li {
    margin-right: 15px;
  }
  .socials > li > a img {
    width: 40px;
  }
  .slide {
    height: 110px !important;
    margin: 0 12px;
  }
  .slide > p:first-child {
    font-size: 18px;
  }
  .slide > p:last-child {
    font-size: 15px;
    line-height: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .slider,
  .slider3 {
    width: 100%;
    margin: 0 auto;
  }
  .blue-bg {
    top: 5% !important;
    height: 36%;
  }
  .pink-bg {
    bottom: 5% !important;
    height: 120%;
  }
}
@media (min-width: 640px) and (max-width: 767px) {
  .container {
    width: 84% !important;
  }
  header > div > div:first-child {
    justify-content: space-between;
    width: 100%;
  }
  .header-menu {
    display: none !important;
  }
  .mobile-btn {
    display: block !important;
    font-size: 40px;
    background: linear-gradient(to right, #6ddcff 0%, #7f60f9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .banner {
    margin-top: 50px;
  }
  .banner-title {
    font-size: 60px !important;
  }
  .banner__title--img {
    width: 50px !important;
    height: 50px !important;
  }
  .banner-sub {
    padding-left: 10% !important;
    font-size: 60px !important;
  }
  .banner-desc {
    width: 90% !important;
    padding-left: 10% !important;
    margin-top: 60px !important;
    text-align: justify;
  }

  .banner-img {
    top: -5%;
    right: -5%;
    width: 40%;
  }
  .banner-info {
    margin-bottom: 80px !important;
  }
  .banner-info > img {
    display: none;
  }
  .banner-list {
    width: 100%;
  }
  .banner-content {
    padding: 10px;
  }
  .banner-content > div {
    padding: 20px 0;
  }
  .banner__info--title {
    font-size: 16px;
  }
  .banner__info--desc {
    font-size: 14px;
  }
  .intro {
    margin-bottom: 80px !important;
  }
  .intro-content {
    flex-direction: column;
  }
  .intro-content > div:first-child {
    width: 100%;
  }
  .intro-title {
    font-size: 30px;
  }
  .intro-content > div:last-child {
    width: 100%;
  }
  .features {
    margin-bottom: 80px !important;
  }
  .features-title {
    font-size: 30px !important;
  }
  .features-list {
    width: 100% !important;
  }
  .features-list > div {
    margin-bottom: 20px;
  }
  .why {
    margin-bottom: 80px !important;
  }
  .why > div {
    flex-direction: column;
  }
  .why > div > div:first-child {
    width: 100%;
  }
  .why-title {
    font-size: 30px !important;
  }
  .why-sub {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .why > div > div:last-child {
    width: 100%;
  }
  .products {
    padding-left: 10% !important;
    margin-bottom: 80px !important;
  }
  .pick {
    width: 100% !important;
    padding: 0px !important;
    margin: 0 auto 80px auto !important;
  }
  .pick > div {
    width: 100%;
    flex-direction: column;
    padding: 30px 0 30px 30px !important;
  }
  .pick-title {
    width: 100%;
    margin-bottom: 5px;
    font-size: 24px;
  }
  .pick-sub {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .pick > div button {
    width: 70%;
    height: 40px;
    padding: 0;
    font-size: 15px;
  }
  .call-btn {
    margin-right: 0;
  }
  .pick > div button:first-child {
    margin-bottom: 20px;
  }
  .pick-img {
    margin-bottom: auto;
    object-fit: contain;
  }
  .start {
    flex-direction: column;
    padding: 0 !important;
  }
  .start > div:first-child {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
  .start-heading {
    font-size: 30px;
  }
  .start-list {
    width: 100% !important;
  }
  .start-btn {
    height: 50px;
    font-size: 16px;
    background: linear-gradient(#01031b, #01031b) padding-box,
      linear-gradient(
          to right,
          #ffb5b5 0%,
          #ffb6d5 20%,
          #d3b1ff 45%,
          #b3e8ff 65%,
          #b0ffde 85%,
          #d2ffa5 100%
        )
        border-box;
  }
  .start-list > div > div {
    width: 60%;
    padding: 20px 30px 30px !important;
  }
  .start-numb {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
  }
  .start-title {
    display: inline-block;
    font-size: 24px;
  }
  .power-heading {
    width: 80% !important;
  }
  .power-title {
    font-size: 30px !important;
  }
  .power-list {
    grid-template-columns: repeat(2, 1fr) !important;
    margin-top: 20px;
  }
  .power-list > div > b {
    font-size: 22px;
  }
  .power-list > div > p {
    font-size: 18px !important;
  }
  .question {
    padding: 8% !important;
    margin-bottom: 50px !important;
  }
  .question > p {
    margin-bottom: 20px !important;
    font-size: 26px;
  }
  .footer-top {
    flex-direction: column;
    margin-bottom: 0 !important;
  }
  .footer-top > div {
    padding-right: 0 !important;
    border-right: none !important;
  }
  .footer-top > div:first-child,
  .footer-top > div:nth-child(2),
  .footer-top > div:nth-child(3) {
    width: 100%;
    margin-bottom: 25px;
  }
  .socials {
    justify-content: start;
    margin-top: 10px;
  }
  .socials li {
    margin-right: 15px;
  }
  .socials > li > a img {
    width: 40px;
  }
  .footer-bottom {
    width: 100% !important;
    font-size: 13px !important;
  }
  .slide {
    height: 70px !important;
    padding: 10px;
    margin: 0 12px;
  }
  .slide > p:first-child {
    font-size: 13px;
  }
  .slide > p:last-child {
    font-size: 12px;
    line-height: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .slider,
  .slider3 {
    width: 100%;
    margin: 0 auto;
  }
  .blue-bg {
    top: 5% !important;
    height: 36%;
  }
  .pink-bg {
    bottom: 5% !important;
    height: 120%;
  }
}

@media (max-width: 639px) {
  .container {
    width: 86% !important;
  }
  header > div > div:first-child {
    justify-content: space-between;
    width: 100%;
  }
  .logo {
    width: 40px !important;
  }
  .header-menu {
    display: none !important;
  }
  .mobile-btn {
    display: block !important;
    font-size: 32px;
    background: linear-gradient(to right, #6ddcff 0%, #7f60f9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .banner {
    margin-top: 50px;
  }
  .banner-title {
    font-size: 40px !important;
  }
  .banner__title--img {
    width: 50px !important;
    height: 50px !important;
  }
  .banner-desc {
    width: 90% !important;
    padding-left: 10% !important;
    margin-top: 50px !important;
    text-align: justify;
    font-size: 16px !important;
  }
  .banner-sub {
    padding-left: 10% !important;
    font-size: 40px !important;
  }
  .banner-img {
    right: -5%;
    width: 40%;
  }
  .banner-info {
    margin-bottom: 80px !important;
  }
  .banner-info > img {
    display: none;
  }
  .banner-list {
    width: 100%;
  }
  .banner-content {
    flex-direction: column;
  }
  .banner-content > div {
    padding: 20px 0;
  }
  .store-btn {
    margin-top: 20px;
  }
  .intro {
    margin-bottom: 80px !important;
  }
  .intro-content {
    flex-direction: column;
  }
  .intro-content > div:first-child {
    width: 100%;
  }
  .intro-title {
    font-size: 30px;
  }
  .intro-content > div:last-child {
    width: 100%;
  }
  .features {
    margin-bottom: 80px !important;
  }
  .features-title {
    font-size: 30px !important;
  }
  .features-list {
    width: 100% !important;
  }
  .features-list > div {
    margin-bottom: 20px;
  }
  .why {
    margin-bottom: 80px !important;
  }
  .why > div {
    flex-direction: column;
  }
  .why > div > div:first-child {
    width: 100%;
  }
  .why-title {
    font-size: 30px !important;
  }
  .why-sub {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .why > div > div:last-child {
    width: 100%;
  }
  .products {
    padding-left: 2% !important;
    margin-bottom: 80px !important;
  }
  .pick {
    flex-direction: column;
    width: 100% !important;
    padding: 30px;
    margin: 0 auto 50px auto;
  }
  .pick-title {
    width: 100%;
    margin-bottom: 5px;
    font-size: 24px;
  }
  .pick-sub {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .pick > div {
    width: 100%;
    flex-direction: column;
    padding-top: 0 !important;
  }
  .pick > div div {
    text-align: center;
  }
  .pick > div button {
    width: 70%;
    height: 40px;
    padding: 0;
    font-size: 15px;
  }
  .call-btn {
    margin-right: 0;
  }
  .pick > div button:first-child {
    margin-bottom: 20px;
  }
  .pick img {
    display: none;
  }
  .start {
    flex-direction: column;
    padding: 0 !important;
  }
  .start > div:first-child {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
  .start-heading {
    font-size: 30px;
  }
  .start-list {
    width: 100% !important;
  }
  .start-btn {
    height: 50px;
    font-size: 16px;
    background: linear-gradient(#01031b, #01031b) padding-box,
      linear-gradient(
          to right,
          #ffb5b5 0%,
          #ffb6d5 20%,
          #d3b1ff 45%,
          #b3e8ff 65%,
          #b0ffde 85%,
          #d2ffa5 100%
        )
        border-box;
  }
  .start-list > div {
  }
  .start-list > div > div {
    width: 100%;
    padding: 10px 20px 20px !important;
  }
  .start-numb {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
  }
  .start-title {
    display: inline-block;
    font-size: 24px;
  }
  .start-img {
    display: none;
  }
  .power-heading {
    width: 80% !important;
    padding: 100px 0 !important;
  }
  .power-img {
    max-width: 120%;
  }
  .power-title {
    font-size: 30px !important;
  }
  .power-list {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .power-list > div > b {
    font-size: 22px;
  }
  .power-list > div > p {
    font-size: 18px !important;
  }
  .question {
    padding: 0% !important;
    margin-bottom: 50px !important;
  }
  .question > p {
    margin-bottom: 20px !important;
    font-size: 26px;
  }
  .footer-top {
    flex-direction: column;
    margin-bottom: 0 !important;
  }
  .footer-top > div {
    padding-right: 0 !important;
    border-right: none !important;
  }
  .footer-top > div:first-child,
  .footer-top > div:nth-child(2),
  .footer-top > div:nth-child(3) {
    width: 100%;
    margin-bottom: 25px;
  }
  .socials {
    margin-top: 10px;
  }
  .socials > li > a img {
    width: 30px;
  }
  .footer-bottom {
    width: 100% !important;
    font-size: 13px !important;
  }
  .slide {
    height: 70px !important;
    padding: 10px;
    margin: 0 12px;
  }
  .slide > p:first-child {
    font-size: 13px;
  }
  .slide > p:last-child {
    font-size: 12px;
    line-height: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .slider,
  .slider3 {
    width: 100%;
    margin: 0 auto;
  }
  .blue-bg {
    top: 5% !important;
    height: 36%;
  }
  .pink-bg {
    bottom: 5% !important;
    height: 120%;
  }
}
